body {
    font-family: Indie Flower, sans-serif, arial;
    box-sizing: border-box;
    background-image: url("../images/cover-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box {
    background-color: whitesmoke;
    border-radius: 25px;
    text-align: center;
    width: 50vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 25px;
}

.welcome-container {
    padding: 0;
    margin: 25px;
    font-size: 22px;
}

.btn {
    font-size: 25px;
    padding: 10px;
    margin: 10px;
    background-color: silver;
    border-radius: 15px;
    border: none;
}

.play-btn {
    font-family: helvetica;
}

.btn:hover {
    background-color: black;
    color: silver;
}

a {
    color: black;
    text-decoration: none;
}

/*quiz page*/
#definition {
    font-size: 25px;
    padding: 25px;
    margin: 25px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
}

.score-area {
    margin: 5px auto;
    width: 30%;
    font-size: 1.2rem;
}

.scores {
    display: inline-block;
    padding: 5px;
    margin: 0;
}

#correct {
    color: green;
    font-weight: bold;
}

#incorrect {
    color: red;
    font-weight: bold;
}

.hide {
    display: none;
}



